
<div class="background-image"></div>
    <div class="run">

<div class="container">
    <h2>Predict Taux Retard</h2>
   
    <div class="form-group">
      <label for="val1">val1:</label>
      <input type="text" class="form-control" id="val1" [(ngModel)]="input.val1" name="val1">
    </div>
    <div class="form-group">
      <label for="val2">val2:</label>
      <input type="number" class="form-control" id="val2" [(ngModel)]="input.val2" name="val2">
    </div>
  
    
    <div class="form-group">
      <label for="val3">val3 prev:</label>
      <input type="number" class="form-control" id="val3" [(ngModel)]="input.val3" name="val3">
    </div>
 
    <button class="btn btn-primary" (click)="predictTauxRetard()">Predict</button>
    <div *ngIf="prediction !== null" class="result">
      <h4>Prediction: {{ prediction.response }}</h4>
    </div>
  </div>

  </div>
  
  