
/* all */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center; /*center vertically */
  align-items: center; /* center horizontally */
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  padding: 10px;
}
/* container and form */
.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(--main-purple);
}

/* inside the form gender details */

form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form input[type="radio"] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

@media only screen and (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .container form .user__details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}



body {
    position: relative;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .containerBackground {
    opacity: 0.3;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: auto;
    display: inline-block;
    z-index: 1;
  }
  
  .containerContent {
    z-index: 10 !important;
    position: relative;
  }
  
  .formInput-inputs.input-text input,
  .formInput-inputs.input-radios select {
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    margin: 8px 0;
    width: 250px;
  }
  
  #formContainer {
    background-color: rgb(233, 233, 233);
    opacity: 1;
    padding: 40px;
    margin: 0;
  }
  
  #europe {
    display: none;
  }
  
  #formTitle {
    font-family: "Playfair Display", serif;
  }
  
  .formInput-label {
    margin: 8px 0;
  }
  
  .formInput-group {
    margin: 10px 0;
  }
  
  input,
  select {
    font-family: "Work Sans", sans-serif;
  }
  
  button {
    margin: 32px 0 0 0;
    width: 150px;
    height: 32px;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: #92fe9d;
  }
  
  @media only screen and (min-width: 600px) {
    body {
      background: rgb(0, 201, 255);
      background: -moz-linear-gradient(
        45deg,
        rgba(0, 201, 255, 1) 0%,
        rgba(146, 254, 157, 1) 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        rgba(0, 201, 255, 1) 0%,
        rgba(146, 254, 157, 1) 100%
      );
      background: linear-gradient(
        45deg,
        rgba(0, 201, 255, 1) 0%,
        rgba(146, 254, 157, 1) 100%
      );
      background-color: #00c9ff;
      position: static;
    }
  
    #form .flexed {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  
    .formInput-group {
      margin: 10px 0;
      width: 33%;
      margin-right: 15%;
    }
  
    .containerContent {
      z-index: unset;
      position: relative;
    }
  
    #formContainer {
      max-width: 612px;
      width: 100%;
      background-color: rgb(233, 233, 233);
      border-radius: 32px;
      opacity: 1;
      padding: 40px;
      overflow: hidden;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  
    .containerBackground {
      opacity: 0.3;
      position: absolute;
      left: 0;
      top: 0;
      width: 125%;
      height: auto;
      display: inline-block;
    }
  }
  



  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition:  0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


.run {
    background-image: url('../../assets/backgroundpredprojet.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    
  }

.chart {
    width: 100%;
    max-width: 2800px;
    box-shadow: 5px 5px 3px rgb(42, 41, 41);
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 30px;
    
  }
  
h2 {
    font-size: 24px;
    font-weight: bold;
    
  }

.s{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 2px rgb(0,0,0);
  border-radius: 4%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
}
  